# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional microbundle cache
.microbundle

# Optional next.js build output
.next
out

# Optional Vercel build output
.vercel

# Optional Gatsby build output
.cache/
public

# Optional Nuxt.js build output
.nuxt
dist

# Optional vuepress build output
.vuepress/dist

# Optional Docusaurus build output
.docusaurus

# Optional Serverless Webpack directories
.webpack/

# Optional OS metadata
.DS_Store
Thumbs.db

# Optional IDEs/Editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# Optional environment variables file
.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional test coverage output
coverage/
.nyc_output

# Optional yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Optional memory database (local only)
memory_database/archive/
memory_database/short_term/
memory_database/mid_term/
memory_database/long_term/
